# ==============================================================================
# FT_TRANSCENDENCE — Variables d'environnement (exemple)
# ==============================================================================
# Copier ce fichier en .env et remplir avec vos valeurs
# Ne JAMAIS commit le .env réel (il est dans .gitignore)
# ==============================================================================

# ------------------------------------------------------------------------------
# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_strong_password
POSTGRES_DB=your_db_name
POSTGRES_HOST=postgresql
POSTGRES_PORT=5432

# ------------------------------------------------------------------------------
# Django
# ------------------------------------------------------------------------------
# Générer une nouvelle clé avec :
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=your_secret_key_here

# DEBUG=True uniquement en développement
# En production, DEBUG DOIT être False
DEBUG=True

# Domaines autorisés à servir le backend (séparés par des virgules, sans espace)
ALLOWED_HOSTS=localhost,127.0.0.1
SITE_URL=https://localhost
JWT_COOKIE_SECURE=True
JWT_COOKIE_SAMESITE=Lax

# ------------------------------------------------------------------------------
# Redis (WebSockets via Django Channels)
# ------------------------------------------------------------------------------
REDIS_HOST=redis
REDIS_PORT=6379

# CORS — architecture same-origin via nginx, aucune origine cross-origin autorisée
CORS_ALLOWED_ORIGINS=https://localhost

#auth42
OAUTH_42_CLIENT_ID=u-s4t2ud-29dcfe906e0f8b18e2511684727174672ce9648b697ddb278b04095f22bdebae
OAUTH_42_CLIENT_SECRET=demandé à thais
OAUTH_42_REDIRECT_URI=https://localhost/api/auth/oauth/42/callback/
